<template>
  
    <div class="calc_container">
      <div class="calc_row">
        <div class="calc_col_2">
          <h2>Price Calculator:</h2>
        </div>
      </div>
      <!-- Furnace-->
      <div class="calc_row">
        <div class="calc_col_2">
          <label class="et_pb_form_label" for="Furnace">Furnace:</label>
        </div>

        <div class="calc_col_5 calc_input">
          <div class="calc_box">
            <select id="furnace" v-model="selectedfurnace" @change="changeParam">
              <option
                v-for="item in furnacesoptions"
                :value="item.value"
                :key="item.id"
              >{{item.text}}</option>
            </select>
          </div>
        </div>

        <div class="calc_col_5">
          <span class="old_price">{{this.priceView(this.furnaceOldPrice)}}</span>
          <span class="new_price">{{this.priceView(this.furnaceNewPrice)}}</span>
        </div>
      </div>

      <!-- A/C-->
      <div class="calc_row">
        <div class="calc_col_2">
          <label for="ac">A/C:</label>
        </div>
        <div class="calc_col_5 calc_input">
          <div class="calc_box">
            <select id="ac" v-model="selectedac" @change="changeParam">
              <option v-for="item in acoptions" :value="item.value" :key="item.id">{{item.text}}</option>
            </select>
          </div>
        </div>
        <div class="calc_col_5">
          <span class="old_price">{{this.priceView(this.acOldPrice)}}</span>
          <span class="new_price">{{this.priceView(this.acNewPrice)}}</span>
        </div>
      </div>

      <!-- SQUAR-->
      <div class="calc_row">
        <div class="calc_col_2">
          <label for="squar">Square Footage:</label>
        </div>
        <div class="calc_col_5 calc_input">
          <div class="calc_box">
            <select id="squar" v-model="selectedsquare" @change="changeParam">
              <option v-for="item in squareotions" :value="item.value" :key="item.id">{{item.text}}</option>
            </select>
          </div>
        </div>
        <div class="calc_col_5"></div>
      </div>

      <!-- TOTAL PRICE-->
      <div class="calc_row">
        <div class="calc_col_2"></div>
        <div class="calc_col_5"></div>
        <div class="calc_col_5">
          <span>Total*</span>
          <span class="new_price total_price">{{this.priceView(this.totalPrice)}}</span>
        </div>
      </div>

      <!-- Text -->
      <div class="calc_row">
        <div class="calc_col_2">
          <button
            class="calc_btn_read"
            @click="toggle_readmode = !toggle_readmode"
          >Price includes ..</button>

          <div v-show="toggle_readmode" class="calc_include_price_text">
            <p>-labor cost</p>
            <p>-line set up to 30ft.</p>
            <p>-drain line up to 30ft.</p>
            <p>-220/30 amp wire up to 30ft.</p>
            <p>-low voltage wire up to 30ft.</p>
            <p>-standard breaker.</p>
          </div>
        </div>
      </div>
      <div class="calc_row">
        <div class="calc_include_price_text">
          <p>*price excludes tax</p>
        </div>
      </div>
    </div>

</template>

<script>
export default {
  name: "CalculatePrice",
  data() {
    return {
      headerText: "Price constructor",
      furnaceNewPrice: 0,
      furnaceOldPrice: 0,
      acNewPrice: 0,
      acOldPrice: 0,
      toggle_readmode: false,
      pricelist: {
        furnaces_new: {
          "1000sqft": { gas: 2799, electrical: 2499, none: 0 },
          "2200sqft": { gas: 3199, electrical: 2899, none: 0 }
        },
        furnaces_old: {
          "1000sqft": { gas: 3700, electrical: 3300, none: 0 },
          "2200sqft": { gas: 4100, electrical: 3700, none: 0 }
        },

        ac_new: {
          "1000sqft": { heatpump: 6799, none: 0 },
          "2200sqft": { heatpump: 6999, none: 0 }
        },

        ac_old: {
          "1000sqft": { heatpump: 8100, none: 0 },
          "2200sqft": { heatpump: 8400, none: 0 }
        }
      },
      selectedfurnace: "none",
      furnacesoptions: [
        { value: "gas", text: "Gas furnace Bosch", id: 1 },
        { value: "electrical", text: "Electrical furnace Bosch", id: 2 },
        { value: "none", text: "-- select furnace --", id: 3 }
      ],
      selectedac: "heatpump",
      acoptions: [
        { value: "heatpump", text: "A/C - Heat pump Bosch", id: 1 },
        { value: "none", text: "-- select ac --", id: 2 }
      ],
      selectedsquare: "1000sqft",
      squareotions: [
        { value: "1000sqft", text: "1000-2000 sqft.", id: 1 },
        { value: "2200sqft", text: "2200-4000 sqft.", id: 2 }
      ]
    };
  },
  computed: {
    totalPrice() {
      return this.furnaceNewPrice + this.acNewPrice;
    }
  },
  methods: {
    changeParam() {
      this.furnaceNewPrice = this.pricelist["furnaces_new"][
        this.selectedsquare
      ][this.selectedfurnace];

      this.furnaceOldPrice = this.pricelist["furnaces_old"][
        this.selectedsquare
      ][this.selectedfurnace];

      this.acNewPrice = this.pricelist["ac_new"][this.selectedsquare][
        this.selectedac
      ];
      this.acOldPrice = this.pricelist["ac_old"][this.selectedsquare][
        this.selectedac
      ];
    },
    priceView(price) {
      if (price > 0) {
        return price + "$";
      }
      return "";
    }
  },

  mounted() {
    this.changeParam();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.old_price {
  text-decoration: line-through;
  font-size: 16px;
  color: grey;
}

.new_price {
  font-weight: 700;
  font-size: 18px;
  color: maroon;
  padding-left: 20px;
  text-align: right;
  margin: 50px;
}

.total_price {
  font-size: 28px;
}

.calc_include_price_text {
  transition: all 5s;
}
.calc_include_price_text p {
  font-size: 0.8em;
  font-style: italic;
  padding: 0 0 0 15px;
  line-height: 1.2em;
}

.calc_btn_read {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color:grey;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  width: 190px;
  transition: all 0.5s;
  cursor: pointer;
}

.calc_btn_read::after {
  content: "\f078";
  font-family: FontAwesome;
}

.calc_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;
}

.calc_column {
  flex-basis: 100%;
}

.calc_column label {
  display: none;
}

.calc_col_2 label {
  display: none;
}

.calc_input {
  /* margin: 0 0 45px;*/
  padding: 0 0 45px;
}

.calc_container {
  max-width: 700px;
  margin: 0 0 0;
}
.calc_col_2,
.calc_col_5 {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .calc_row {
    margin: 0 0 10px;
  }

  .calc_column {
    flex: 1;
  }

  .calc_column label {
    display: block;
  }

  .calc_col_2 label {
    display: block;
  }

  .calc_col_2 {
    flex: 1;
  }
  .calc_col_5 {
    flex: 2;
  }
}

.calc_box {
  position: absolute;
}

.calc_box select {
  background-color: #0563af;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
  color: white;
  padding: 12px;
  width: 250px;
  font-size: 16px;
  box-shadow: 0 5px 26px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.calc_box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.calc_box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}
</style>
