
<template>
  <div>
    <div class="row">
      <!-- LEFT -->
      <div class="column">
        <div class="card coupon">
          <div class="card-header">
            <div class="card-header">
              <span class="brand_name">BOSCH</span>
              <span class="model_name">GAS FURNACE</span>
            </div>
          </div>
          <div>
            <img
              src="https://valuehomesservices.com/wp-content/uploads/2019/08/furnace_bosch.png"
              class="coupon-img img-rounded"
            />
            <div class="main_coupon">
              <div class="child_coupon"></div>

              <div class="child_coupon">
                <div class="row_sm">
                  <div class="col_sm">
                    <div class="offer_old">
                      <span class="usd">
                        <sup>$</sup>
                      </span>
                      <span class="number-old">3700</span>
                    </div>
                  </div>
                  <div class="col_sm"></div>
                  <div class="col_sm">
                    <div class="offer">
                      <span class="usd">
                        <sup>$</sup>
                      </span>
                      <span class="number">2799</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="child_coupon">
                <ul class="items">
                  <li>Fully ENERGY STAR rated</li>
                  <li>
                    <strong>96% High heating efficiency</strong>
                  </li>
                  <li>Easily integration</li>
                  <li>10-year warranty*</li>
                </ul>
              </div>
            </div>
            <div class="footer-coupon">
              <span>High-Efficiency Gas Furnaces provide excellent comfort and energy savings at a great price. The advanced design of the stainless steel, aluminized heat exchangers control costs by ensuring that 96 cents of every $1.00 you spend on fuel warms your home.</span>
              <span>* 10-Year Limited Parts Warranty and 2 year labor warranty</span>
              <p>
                <span>**price excludes tax</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- CENTER -->
      <div class="column">
        <div class="card coupon">
          <div class="card-header">
            <span class="brand_name">BOSCH</span>
            <span class="model_name">HEAT PUMP - Air conditioner</span>
          </div>
          <div>
            <img
              src="https://valuehomesservices.com/wp-content/uploads/2019/08/heatpump_bosch.png"
              class="coupon-img img-rounded"
            />
            <div class="main_coupon">
              <div class="child_coupon"></div>

              <div class="child_coupon">
                <div class="row_sm">
                  <div class="col_sm">
                    <div class="offer_old">
                      <span class="usd">
                        <sup>$</sup>
                      </span>
                      <span class="number-old">8100</span>
                    </div>
                  </div>
                  <div class="col_sm"></div>
                  <div class="col_sm">
                    <div class="offer">
                      <span class="usd">
                        <sup>$</sup>
                      </span>
                      <span class="number">6799</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="child_coupon">
                <ul class="items">
                  <li>Ultra-efficient inverter drive</li>
                  <li>
                    <strong>Variable capacity control</strong>
                  </li>
                  <li>One of the quietest systems</li>
                  <li>10-year warranty*</li>
                </ul>
              </div>
            </div>
            <div class="footer-coupon">
              <span>
                The high-efficiency variable capacity inverter compressor can adjust
                output to any level between 25% and 110%, to perfectly cool and heat
                your home using minimal energy for maximum comfort. Low
                noise at high speed - with sound levels as low as 56 dBA.
              </span>
              <span>* 10-Year Limited Parts Warranty and 2 year labor warranty</span>
              <p>
                <span>**price excludes tax</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DealsCoupon",
  data() {
    return {};
  }
};
</script>

<style scoped>
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 30px;
}

.column {
  flex-basis: 100%;
  margin-top: 10px;
  align-items: left;
  justify-content: left;
}

.row_sm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col_sm {
  flex: 1;
}

.card-header {
  margin-top: 15px;
}

.footer-coupon::before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: bottom;
  width: 2px;
}

.footer-coupon span {
  display: inline-block;
  font-size: 11px;
  line-height: 1.2em;
  color: #bcbcbc;
}


@media screen and (min-width: 800px) {
  .row {
    margin: 0 0 10px;
  }

  .column {
    flex: 1;
    margin-left: 10px;
  }
}

.coupon {
  border: 1px dashed #bcbcbc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: 300;
  padding: 0px 15px 15px;
  height: 100%;
}

.coupon-img {
  width: 40%;
  margin-bottom: 15px;
  padding: 0;
}

.items {
  margin: 5px 25px 15px;
  list-style-type: circle;
}

.usd,
.cents {
  font-size: 18px;
}

.number {
  font-size: 40px;
  font-weight: 700;
}

.number-old {
  font-size: 30px;
  font-weight: 700;
  text-decoration: line-through;
}
sup {
  top: -15px;
}

.offer_old {
  color: grey;
}

.offer {
  color: #f63;
}

.brand_name {
  font-size: 1.5em;
  color: red;
  font-weight: 700;
}

.notetext {
  padding-top: 0px;
  font-size: 11px;
  line-height: 1.2em;
  color: #bcbcbc;
  text-align: left;
}

.disclosure {
  padding-top: 10px;
  font-size: 11px;
  color: #bcbcbc;
  text-align: center;
  line-height: 1.2em;
}

.coupon-code {
  color: #333333;
  font-size: 11px;
}

.print {
  font-size: 14px;
  float: right;
}
</style>