<template>
  <div id="calc-offer">
    <DealsCoupon/>
    <CalculatePrice/>
  </div>
</template>

<script>
import CalculatePrice from './components/CalculatePrice.vue'
import DealsCoupon from './components/DealsCoupon.vue'

export default {
  name: 'calc-offer',
  components: {
    CalculatePrice, DealsCoupon

  }
}
</script>

<style>
</style>
